AI_News_Daily_Bot.json
{
  "name": "AI_News_Daily_Bot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        12
      ],
      "id": "5c993a73-2331-4daa-9921-5c9ed58ca63e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "=https://s.search.naver.com/p/newssearch/3/api/tab/more?cluster_rank=16&de=&ds=&eid=&field=0&force_original=&is_dts=0&is_sug_officeid=0&mynews=0&news_office_checked=&nlu_query=&nqx_theme=%7B%22theme%22%3A%7B%22main%22%3A%7B%22name%22%3A%22encyclopedia%22%2C%22source%22%3A%22LLM%22%7D%7D%7D&nso=so%3Ar%2Cp%3Aall%2Ca%3Aall&nx_and_query=&nx_search_hlquery=&nx_search_query=&nx_sub_query=&office_category=&office_section_code=0&office_type=0&pd=-1&photo=0&query=AI+%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5&query_original=&rev=0&service_area=&sm=tab_smr&sort=0&spq=0&ssc=tab.news.all&start=1",
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "responseContainsNextURL",
              "nextURL": "={{ $response.body['url'] }}",
              "limitPagesFetched": true,
              "maxRequests": 2,
              "requestInterval": 500
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        12
      ],
      "id": "9dd55eb2-fa0c-473d-bece-27999e25366f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "collection[0].html",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": ".sds-comps-text-type-headline1",
              "returnArray": true
            },
            {
              "key": "url",
              "cssSelector": "a[data-heatmap-target=\".tit\"]",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        672,
        -60
      ],
      "id": "42fd5fbb-e01e-4342-ada5-0091c0a34148",
      "name": "HTML"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        12
      ],
      "id": "7df777b6-9548-4b84-a7d0-2ca511bb26a2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst titles = $input.first().json.title\nconst urls = $input.first().json.url\n\nconst totalLength = titles.length;\n\nconst newsList = []\n\nfor (let i = 0; i < totalLength; i++){\n  newsList.push({\n    'title':titles[i],\n    'url': urls[i]\n  })\n}\n\nreturn newsList"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -60
      ],
      "id": "24ec80b9-65ed-415e-b9df-d953f78479e7",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1120,
        12
      ],
      "id": "7bb59b6c-87a1-4e42-a976-4610354acf55",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36\",\n  \"Referer\": \"https://www.todayenergy.kr/\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        -112
      ],
      "id": "4fef5751-b796-4171-8d53-c69734499868",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "content",
              "cssSelector": "body"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1568,
        -112
      ],
      "id": "7600735e-cbb2-4543-ae92-0c450d7b25df",
      "name": "HTML1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini-2025-04-14",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini-2025-04-14"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1824,
        112
      ],
      "id": "8602b52e-05b6-481e-8985-fb6c41db5288",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rD7ogmE5naCStgaq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"relevant\": {\n\t\t\t\"type\": \"boolean\"\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1952,
        112
      ],
      "id": "8199e705-9eba-4a91-99e6-669a7bf7b887",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please analyze the following news content and determine whether it is related to AI or artificial intelligence.\n\nContent: {{ $json.content }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are responsible for detecting ANY AI or artificial intelligence related keywords in article content with absolute precision. This task is CRITICAL - your accuracy directly impacts an employee's job security and any mistakes will result in immediate termination. You must scan every single word, phrase, and character in the provided text for AI-related terms including but not limited to: AI, A.I., artificial intelligence, machine learning, deep learning, neural networks, automation, robots, bots, chatbots, algorithms, big data, natural language processing, NLP, computer vision, speech recognition, image recognition, ChatGPT, GPT, Claude, Gemini, Bard, LLM, generative AI, TensorFlow, PyTorch, OpenAI, Google AI, and any similar terms in English, Korean, or mixed languages. You must also identify contextual references that imply AI technology even if not explicitly stated. If you find ANY AI-related keyword, respond with \"AI KEYWORDS DETECTED\" followed by the specific terms found. If no AI keywords are found, respond with \"NO AI KEYWORDS DETECTED\". When in doubt, ALWAYS err on the side of detection - missing even a single AI reference will have severe consequences. Your professional reputation and the employee's livelihood depend on your thoroughness and accuracy."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1792,
        -112
      ],
      "id": "e63f3d59-42f1-4cb3-a5ba-8d909039e37e",
      "name": "Is_relevant"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6161512f-8571-4446-8b81-437e2a40ca0a",
              "leftValue": "={{ $json.output.relevant }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2192,
        -112
      ],
      "id": "469b4aab-c6e3-4494-8b71-fc9ebb1c80e1",
      "name": "Filter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=당신은 정확한 감성분석과 뉴스 요약을 담당하는 전문 뉴스 분석가입니다. 이 분석 결과는 중요한 비즈니스 의사결정과 미디어 모니터링 시스템에 사용됩니다. 감성 분류나 요약 내용의 부정확성은 심각한 운영상 결과를 초래하며 조직에 상당한 재정적 손실을 가져올 수 있습니다.\n\n핵심 요구사항:\n제공된 뉴스 기사를 분석하여 오류 허용도 제로로 정확한 두 가지 결과물을 제공해야 합니다. 첫째, 기사의 어조, 내용, 함의를 바탕으로 전체적인 감성을 \"Positive\", \"Negative\", \"Neutral\" 중 하나로 판단하세요. 경제적 영향, 사회적 함의, 정치적 파급효과, 공공복리 효과를 고려해야 합니다. 감성을 평가할 때는 개별 문구보다는 기사의 지배적인 감정적 어조와 사실적 함의를 우선시하세요. 여러 감성이 존재할 경우, 기사의 전체 메시지를 가장 잘 나타내는 주도적인 감성을 식별하세요.\n\n둘째, 핵심 사실, 주요 이해관계자, 중요한 수치나 데이터, 주된 결과나 함의를 포함하여 모든 필수 정보를 담은 정확히 4-5문장의 포괄적인 한국어 요약을 제공하세요. 독자가 원본 기사를 읽지 않고도 핵심 스토리를 이해할 수 있을 만큼 완전하면서도, 명확성과 집중도를 유지할 만큼 간결해야 합니다.\n\n다음 형식으로 정확히 응답하세요:\n감성: [Positive/Negative/Neutral]\n요약: [모든 핵심 정보를 담은 4-5문장 한국어 요약]\n\n제목:{{ $('Code').item.json.title }}\n기사 내용:{{ $('HTML1').item.json.content }}\n기사 링크:{{ $('Code').item.json.url }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "당신은 전문적이고 도움이 되는 AI 어시스턴트입니다. 사용자의 질문에 정확하고 명확하게 답변하세요.  \n\n규칙: \n- 친근하지만 전문적인 톤으로 대화하세요 \n- 모르는 것은 모른다고 솔직히 말하세요   \n- 긴 답변보다는 핵심만 간결하게 전달하세요 \n- 사용자가 추가 질문하면 더 자세히 설명하세요 \n- 항상 정확한 정보를 제공하고 추측하지 마세요"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2416,
        -112
      ],
      "id": "203db9dc-dfa7-4136-bf96-ef45dab13092",
      "name": "Summarize and Sentiment analysis"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2448,
        112
      ],
      "id": "ac5c66bf-997a-4e6c-9b5f-0c547ec8ad77",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "rD7ogmE5naCStgaq",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"sentiment\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n      \"title\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n      \"date\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n      \"summary\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n      \"url\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2576,
        112
      ],
      "id": "1f983a56-a827-42d8-a743-929730460ac5",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1DS1AdIJyxK5-xyxnZQsE-77hEPOBx_TvYE-enkKaq-M",
          "mode": "list",
          "cachedResultName": "AI 관련 뉴스파일 수집",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DS1AdIJyxK5-xyxnZQsE-77hEPOBx_TvYE-enkKaq-M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DS1AdIJyxK5-xyxnZQsE-77hEPOBx_TvYE-enkKaq-M/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.output.title }}",
            "sentiment": "={{ $json.output.sentiment }}",
            "date": "={{ $json.output.date }}",
            "summary": "={{ $json.output.summary }}",
            "url": "={{ $json.output.url }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2816,
        -112
      ],
      "id": "1a2e84ec-79af-4e22-a5eb-87c92215d971",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IrvGEpQeJLsPpkBs",
          "name": "Google Sheets account "
        }
      }
    },
    {
      "parameters": {
        "sendTo": "jhd6290@gmail.com",
        "subject": "=오늘의 AI 뉴스 업데이트({{ $json.date }})",
        "emailType": "text",
        "message": "=오늘의 AI 뉴스입니다.\n\n제목:{{ $json.Title }}\n\n감성: {{ $json.sentiment }}\n\n내용(요약): {{ $json.summary }}\n\n기사(출처): {{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3040,
        12
      ],
      "id": "555f4caa-01f8-4895-9809-e55c9529ef14",
      "name": "Send a message",
      "webhookId": "9bb635a9-1df2-4fba-9ac3-82a4a4696d0b",
      "credentials": {
        "gmailOAuth2": {
          "id": "LTYShEI4kN5MmBXw",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Is_relevant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Is_relevant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Is_relevant",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Is_relevant": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Summarize and Sentiment analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize and Sentiment analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Summarize and Sentiment analysis",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Summarize and Sentiment analysis": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cfc9a0b5-22e8-4a3f-9196-eac3924417c5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cecb628963b915f85c7ded12cc29b77d76bbd5a002f1a8c598b915d272a9d859"
  },
  "id": "OIWcrKP4PGJwUBqC",
  "tags": []
}